/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(236, 250, 255); */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 80px;
}

h1 {
  margin: 32px 0;
  font-size: 2.2rem;
}

h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  margin: 1rem 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: rgb(78, 92, 255);
}

/* Header Area */

header {
  min-height: 100vh;
  text-align: center;
  background: url("https://source.unsplash.com/400x200/?creative") no-repeat
    fixed center center/cover;
}

header .navbar_Main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 15px 0;
}

header nav {
  padding: 15px 0;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

#hero-banner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-banner h1 {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

/* Main Area */

#present,
#future,
#contact {
  padding: 20px;
  min-height: 500px;
}

#past .past-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#past .card {
  width: 32%;
  padding: 1rem;
  background-color: rgb(244, 244, 244);
  border-radius: 2px;
  box-shadow: 0 0 1px rgb(207, 207, 207);
}

#past .card img {
  width: 100%;
}

#past .card-text {
  padding: 1rem 0;
}

#past .card a {
  padding-top: 5px;
}

#past .card:hover {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(207, 207, 207);
}

#present {
  background-color: rgb(247, 247, 247);
}

#present img {
  float: right;
  margin-left: 32px;
}

#future img {
  float: left;
  margin-right: 32px;
}

/* Contact Form Area */

#contact {
  background-color: #333;
  color: white;
  text-align: center;
}

form {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.form-content {
  margin: 2rem 0;
}

form label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

form input,
form textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
}

form textarea {
  min-height: 100px;
}

form button {
  background-color: rgb(78, 92, 255);
  text-transform: uppercase;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-left: 208px;
}

/* Footer Area */

footer {
  text-align: center;
  padding: 2px 0;
  background-color: rgb(244, 244, 244);
}

/* Tablet Support */

@media (max-width: 899px) {
  #present,
  #future {
    display: block;
  }

  #present img,
  #future img {
    width: 100%;
    padding-bottom: 2rem;
  }

  form {
    width: 80%;
    text-align: left;
  }

  form label {
    display: block;
    margin-bottom: 0.5rem;
  }

  form input,
  form textarea,
  form button {
    width: 100%;
    margin: 0;
  }
}

/* Mobile Support */

@media (max-width: 576px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
  }

  header .navbar_Main {
    display: flex;
    flex-direction: column;
  }

  header nav ul {
    margin-top: 1rem;
  }

  header nav ul li {
    padding: 0.5rem;
  }

  #hero-banner h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.5;
  }

  #past,
  #present,
  #future,
  #contact {
    padding: 1rem;
  }

  #past .past-cards {
    display: block;
  }

  #past .card {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
